<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Restaurants :: Delete </title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='final.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row" style="text-align: center">
                <h1>Delete Restaurant</h1>
            </div>
            <br>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="well well-sm">
                        <form action="{{url_for('deleterestaurant', restaurant_id = restaurant.id)}}" method="POST">
                            <h4>Are you sure you wish to DELETE {{restaurant.name}}?</h4>
                            <p><strong>NOTICE:</strong> This will permanently delete your restaurant and all menu information associated with it, once
                                this has been done, the information cannot be recovered.</p>
                            <input type="submit" class="btn btn-danger" value="DELETE">
                        </form>
                    </div>
                    <a href="{{url_for('allrestaurants')}}"><button type="button" class="btn btn-primary" style="float: right;">Cancel</button></a>
                </div>
            </div>

        </div>
    </body>
    <footer>
        <p style="text-align:center;">&copy; 2019 - Austin Ridings</p>
    </footer>
</html>