<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Restaurants </title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='final.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row" style="text-align: center">
                <h1>Restaurants</h1>
                <a href="{{url_for('addrestaurant')}}"><button type='button' class="btn btn-info" style="float: right"><span class="glyphicon glyphicon-plus"></span>Add New Restaurant</button></a>
            </div>
            <div class="flash">
                {% with messages = get_flashed_messages() %}
            {% if messages %}

                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong></li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            </div>

            <br>
            {% for r in restaurants %}
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><strong> {{r.name}} </strong></h3>
                    <a href="{{ url_for('deleterestaurant', restaurant_id=r.id) }}"><button type="button" class="btn btn-danger" style="float: right;">Delete</button></a>
                    <a href="{{ url_for('editrestaurant', restaurant_id=r.id) }}"><button type="button" class="btn btn-warning" style="float: right;">Edit</button></a>
                    <a href="{{ url_for('restaurantMenu', restaurant_id=r.id, menu_id=restaurant_id) }}"><button type="button" class="btn btn-success" style="float: left;">View Menu</button></a>
                </div>
            </div>

        </div>
            {% endfor %}
    </body>
    <footer>
        <p style="text-align:center;">&copy; 2019 - Austin Ridings</p>
    </footer>
</html>