<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Menu :: {{ restaurant.name }}</title>
    </head>
    <body>
        <div class="pane">
            <div class="header">
                <h1>{{ restaurant.name }}</h1>
            </div>
            

            <div class="flash">
                    {% with messages = get_flashed_messages() %}
                {% if messages %}

                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <br>

            <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}"><button type='button' class="add-new"><strong>ADD NEW ITEM</strong></button></a>

            <br>

            {% for i in items %}
            <div class="name">
               <h2><strong> {{i.name}} </strong></h2>
            </div>
        <br>
            <div class="price">
               <p> {{i.price}} </p>
            </div>
        <br>
            <div class="description">
               <p> {{i.description}} </p>
            </div>
        <br>
            <div class="course">
            <p> {{i.course}} </p>
            </div>
        <br>
            <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}"><button type='button' class="edit"><strong>EDIT</strong></button></a>
            <br>
            <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}"><button type="button" class="delete"><strong>DELETE</strong></button></a>
        <br><br><hr>

            {% endfor %}
        </div>
    </body>
</html>